@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  color: black;
  list-style: none;
}

.sectionTitle {
  font-size: 36px;
  line-height: 44px;
  color: #3A3A3A;
  font-weight: 700;
}

.sectionTitle.center {
  text-align: center;
}

hr {
  height: 1px;
  border: none;
  background: #B1B1B1;
  margin-bottom: 30px;
}

.sectionSubtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  width: 100%;
  max-width: 719px;
  margin-bottom: 60px;
}

.flickity-page-dots {
  bottom: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 8;
}

.flickity-page-dots .dot {
  opacity: 1 !important;
  background: #142A7B;
  margin: 0 7px;
}

.flickity-page-dots .dot.is-selected {
  width: 14px;
  height: 14px;
  background: #4D4D4D;
}

.submitBtn {
  height: 49px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -o-linear-gradient(359.53deg, #3D5293 3.84%, #486BD1 96.83%);
  background: linear-gradient(90.47deg, #3D5293 3.84%, #486BD1 96.83%);
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerMain {
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  overflow: hidden;
}

header .headerMain__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .headerMain__logo img {
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

header .headerMain__contacts {
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerMain__contacts--phone {
  color: #4D4D4D;
  font-size: 18px;
  line-height: 22px;
}

header .headerMain__contacts--socialnetworks {
  margin-left: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header .headerMain__contacts--socialnetworks a {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  background: white;
  -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

header .headerMain__contacts--socialnetworks a:first-child {
  margin-left: 0;
}

header .headerMain__contacts--socialnetworks a img {
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

header .menuIcon {
  display: none;
}

header .headerNav {
  background: #142A7B;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}

header .headerNav .menuClose {
  display: none;
}

header .headerNav .headerMain__contacts {
  display: none;
}

header .headerNav__ul {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  /*-webkit-align-items: center;*/
  /*    -ms-flex-align: center;*/
          /*align-items: center;*/
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .headerNav__ul a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

header .headerNav__ul a.selected {
  font-weight: 900;
}

.banner {
  height: -webkit-calc(100vh - 120px);
  height: calc(100vh - 120px);
  max-height: 654px;
  position: relative;
}

.banner .banner-carousel {
  width: 100%;
  height: 100%;
}

.banner .carousel-cell {
  width: 100%;
  height: 100%;
}

.banner .carousel-cell img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .container {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .bannerText {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 20px;
  padding: 36px 189px 36px 25px;
  width: 100%;
  max-width: 583px;
}

.banner .bannerTitle {
  font-size: 36px;
  line-height: 44px;
  color: white;
  max-width: 369px;
}

.welcome {
  padding: 40px 0;
  background: #F9F9F9;
}

.welcome .sectionTitle {
  margin-bottom: 16px;
}

.welcome .welcomeSlogan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 105px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 40px;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  background: -o-linear-gradient(358.5deg, #3C5190 -1.44%, #486BD1 95.42%);
  background: linear-gradient(91.5deg, #3C5190 -1.44%, #486BD1 95.42%);
  -webkit-box-shadow: 0px 4px 10px rgba(67, 96, 183, 0.46);
          box-shadow: 0px 4px 10px rgba(67, 96, 183, 0.46);
  border-radius: 30px 30px 30px 0px;
  margin-bottom: 18px;
}

.welcome .welcomeAddress {
  max-width: 576px;
  margin-left: auto;
  text-align: right;
  color: #3A3A3A;
}

.welcome .welcomeAddress__title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
}

.welcome .welcomeAddress__desc {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.welcome .welcomeAddress__desc img {
  width: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}

.service {
  padding: 40px 0;
}

.service .desc {
  width: 100%;
  max-width: 867px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: black;
  margin-bottom: 25px;
}

.service .desc:last-of-type {
  margin-bottom: 0;
}

.service .desc:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 219px;
  height: 5px;
  background: #142A7B;
}

.service .desc.right {
  margin-left: auto;
  text-align: right;
}

.service .desc.right:after {
  left: unset;
  right: 0;
}

.service .sectionTitle {
  margin-bottom: 65px;
}

.service .service__cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.service .service__item {
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.service .service__item--icon img {
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.service .service__item--name {
  margin-top: 10px;
  color: #142A7B;
  font-size: 24px;
  line-height: 29px;
}

.weUse {
  background: #F9F9F9;
  padding: 68px 0;
}

.weUse p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 22px;
  color: #3A3A3A;
}

.weUse p:last-child {
  margin-bottom: 0;
}

.teamAndAppointment {
  padding-top: 53px;
}

.teamAndAppointment .sectionTitle {
  margin-bottom: 41px;
}

.teamAndAppointment .team_img {
  height: 433px;
}

.teamAndAppointment .team_img img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
  border-radius: 20px;
}

.appointment form {
  padding: 0 37px;
  margin-bottom: 20px;
}

.appointment form .form-group {
  margin-bottom: 20px;
  position: relative;
}

.appointment form .addImgBtn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 26px;
  background: unset;
  border: none;
  cursor: pointer;
}

.appointment form .addImgBtn img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.appointment form input {
  width: 100%;
  height: 49px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5F5F5;
  border-radius: 20px;
  border: none;
  padding: 0 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

.appointment form input::-webkit-input-placeholder {
  color: #4D4D4D;
}

.appointment form input::-moz-placeholder {
  color: #4D4D4D;
}

.appointment form input:-ms-input-placeholder {
  color: #4D4D4D;
}

.appointment form input::-ms-input-placeholder {
  color: #4D4D4D;
}

.appointment form input::placeholder {
  color: #4D4D4D;
}

.appointment form textarea {
  width: 100%;
  height: 100px;
  background: #F5F5F5;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  padding: 11px 45px 11px 19px;
  resize: none;
  border: none;
}

.appointment form textarea::-webkit-input-placeholder {
  color: #4D4D4D;
}

.appointment form textarea::-moz-placeholder {
  color: #4D4D4D;
}

.appointment form textarea:-ms-input-placeholder {
  color: #4D4D4D;
}

.appointment form textarea::-ms-input-placeholder {
  color: #4D4D4D;
}

.appointment form textarea::placeholder {
  color: #4D4D4D;
}

.reviews .sectionTitle {
  margin-bottom: 40px;
}

.reviews .col-md-6 {
  margin-bottom: 50px;
}

.reviews .review {
  background: #FAFAFA;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 30px 30px 30px 0px;
  padding: 40px 33px;
}

.reviews .review p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #3A3A3A;
}

.reviews .review .author {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #142A7B;
  margin-top: 15px;
}

.news {
  padding: 40px 0;
}

.news .sectionTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.news .sectionTitle:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #142A7B;
}

.news .news__item {
  padding: 25px 0;
  border-bottom: 1px solid #B1B1B1;
}

.news .news__item:first-of-type {
  border-top: 1px solid #B1B1B1;
}

.news .news__item--title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #3A3A3A;
  margin-bottom: 25px;
}

.news .news__item--desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 5px;
 text-align: justify;
}

.news .news__item--date {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #3A3A3A;
}

.aboutUs {
  padding: 40px 0;
}

.aboutUs .sectionTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.aboutUs .sectionTitle:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #142A7B;
}

.aboutUs .sectionSubtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  width: 100%;
  max-width: 719px;
  margin-bottom: 60px;
}

.aboutUs .aboutUs__advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}

.aboutUs .aboutUs__advantages--item {
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.aboutUs .aboutUs__advantages--icon {
  height: 80px;
  position: relative;
}

.aboutUs .aboutUs__advantages--icon .order {
  position: absolute;
  left: -30px;
  top: -20px;
  width: 33px;
  height: 33px;
  border: 3px solid #486BD1;
  background: #142A7B;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.aboutUs .aboutUs__advantages--icon img {
  height: 100%;
}

.aboutUs .aboutUs__advantages--title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #142A7B;
  margin-top: 25px;
}

.aboutUs .aboutUs__columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutUs .aboutUs__columns--item {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #B1B1B1;
  margin-bottom: 25px;
}

.aboutUs .aboutUs__columns--item:nth-child(even) {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.aboutUs .aboutUs__columns--item:nth-child(even) .aboutUs__columns--text {
  width: 60%;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  margin-right: 0;
  margin-left: 20px;
  text-align: right;
}

.aboutUs .aboutUs__columns--item:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.aboutUs .aboutUs__columns--text {
  width: 50%;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #3A3A3A;
  margin-right: 20px;
}

.aboutUs .aboutUs__columns--order {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #142A7B;
  text-shadow: -6px -3px 0 rgba(20, 42, 123, 0.2);
}

.experience {
  background: #F9F9F9;
  padding: 45px 0;
}

.experience .experience__item {
  margin-bottom: 30px;
}

.experience .experience__item:last-child {
  margin-bottom: 0;
}

.experience .experience__item--title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #142A7B;
  margin-bottom: 30px;
}

.experience .experience__item--desc {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #3A3A3A;
}

.addington {
  padding: 40px 0;
}

.addington .sectionTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.addington .sectionTitle:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #142A7B;
}

.addington blockquote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.addington .quote {
  width: 32px;
  height: 32px;
}

.addington .quote img {
  width: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}

.addington .quote.close {
  width: 100%;
  text-align: right;
  margin-left: auto;
}

.addington .blockquote__cont {
  width: -webkit-calc(100% - 42px);
  width: calc(100% - 42px);
  margin-left: auto;
}

.addington .blockquote__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #142A7B;
}

.addington p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #3A3A3A;
  margin-bottom: 25px;
}

.addington p:last-of-type {
  margin-bottom: 0;
}

.addington .blockquote__img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 47px;
  margin-bottom: 47px;
}

.addington .blockquote__img img {
  width: 45%;
}

.addington .blockquote__author--name {
  width: 100%;
  padding-left: 42px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #3A3A3A;
}

.addington .blockquote__author--desc {
  width: 100%;
  padding-left: 42px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #142A7B;
}

.meetTheTeam {
  padding: 40px 0 35px;
}

.meetTheTeam .sectionTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.meetTheTeam .sectionTitle:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #142A7B;
}

.meetTheTeam .aboutTeam {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.meetTheTeam .aboutTeam__image {
  width: 40%;
}

.meetTheTeam .aboutTeam__image img {
  width: 100%;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
  border-radius: 20px;
}

.meetTheTeam .aboutTeam__desc {
  width: -webkit-calc(60% - 60px);
  width: calc(60% - 60px);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #3A3A3A;
  position: relative;
  padding-bottom: 10px;
}

.meetTheTeam .aboutTeam__desc:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 424px;
  max-width: 100%;
  height: 5px;
  background: #142A7B;
}

.aboutPerson .person {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F9F9F9;
  border: 1px solid #B1B1B1;
  padding: 35px 50px;
  margin-bottom: 35px;
}

.aboutPerson .person:last-of-type {
  margin-bottom: 55px;
}

.aboutPerson .person:nth-child(even) .person__desc {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  text-align: right;
}

.aboutPerson .person:nth-child(even) .person__name {
  text-align: right;
  margin-left: auto;
}

.aboutPerson .person:nth-child(even) .person__img {
  margin-left: 0;
  margin-right: 25px;
}

.aboutPerson .person__desc {
  width: 100%;
}

.aboutPerson .person__name {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #142A7B;
  padding-top: 15px;
  border-top: 5px solid #142A7B;
  margin-bottom: 15px;
}

.aboutPerson .person__excerpt p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: black;
  margin-bottom: 20px;
}

.aboutPerson .person__excerpt p:last-of-type {
  margin-bottom: 0;
}

.aboutPerson .person__img {
  min-width: 25%;
  max-width: 25%;
  margin-left: 25px;
}

.aboutPerson .person__img img {
  border-radius: 20px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutPerson .person__img.bigOne {
  min-width: 35%;
  max-width: 35%;
}

.pilates {
  padding: 40px 0 30px;
}

.pilates .sectionTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.pilates .sectionTitle:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #142A7B;
}

.pilates .sectionSubtitle {
  margin-bottom: 30px;
}

.pilates p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: black;
  margin-bottom: 20px;
}

.pilates p:last-of-type {
  margin-bottom: 0;
}

.whatIsPilates {
  background: #F9F9F9;
  padding: 20px 0;
}

.whatIsPilates .sectionTitle {
  margin-bottom: 20px;
}

.whatIsPilates .sectionDesc {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.whatIsPilates p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: black;
}

.whatIsPilates .sectionSubtitle {
  margin-top: 50px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #142A7B;
  margin-bottom: 0;
}

.pilatesCanHelp {
  padding: 30px 0;
}

.pilatesCanHelp .pilatesCanHelp__images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.pilatesCanHelp .carousel-cell {
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pilatesCanHelp .carousel-cell img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pilatesCanHelp .sectionTitle {
  color: #142A7B;
  text-align: center;
  margin-bottom: 50px;
}

.pilatesCanHelp .pilatesCanHelp__items {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pilatesCanHelp .pilatesCanHelp__items p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.pilatesCanHelp .much {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pilatesCanHelp .much span {
  color: black;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 0 9px;
}

.aboutKay {
  padding: 17px 0;
  background: #F9F9F9;
}

.aboutKay .sectionTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-top: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 22px;
  color: #142A7B;
  text-transform: uppercase;
}

.aboutKay .sectionTitle:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  background: #142A7B;
}

.aboutKay p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 25px;
}

.aboutKay p:last-of-type {
  margin-bottom: 0;
}

.pricesAndAvailibility {
  padding: 30px 0;
}

.pricesAndAvailibility .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.pricesAndAvailibility .item {
  width: -webkit-calc(45% - 32.5px);
  width: calc(45% - 32.5px);
  margin: 0 32.5px;
}

.pricesAndAvailibility .prices__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #142A7B;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 48px;
}

.pricesAndAvailibility .prices__title img {
  margin-left: 25px;
}

.pricesAndAvailibility .prices__item {
  text-align: center;
  height: -webkit-calc(100% - 50px - 48px);
  height: calc(100% - 50px - 48px);
  background: #FAFAFA;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 36px 33px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricesAndAvailibility .prices__item--title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.pricesAndAvailibility p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.gait {
  padding: 40px 0;
}

.gait .sectionTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.gait .sectionTitle:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #142A7B;
}

.gait .sectionSubtitle {
  margin-bottom: 30px;
}

.gait .sectionExTitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #142A7B;
  max-width: 100%;
  width: 1010px;
  padding-bottom: 10px;
  position: relative;
}

.gait .sectionExTitle:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 127px;
  height: 5px;
  background: #142A7B;
}

.gait p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #3A3A3A;
  margin-bottom: 25px;
}

.gait p:last-of-type {
  margin-bottom: 0;
}

.gait .bg__grey {
  background: #F9F9F9;
  border-radius: 20px;
  padding: 35px 72px;
  margin: 50px 0 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #3A3A3A;
}

.cost {
  padding: 40px 0;
}

.cost .sectionTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.cost .sectionTitle:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #142A7B;
}

.cost .sectionSubtitle {
  max-width: 100%;
  margin-bottom: 73px;
}

.cost p, .cost .paragraph {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #142A7B;
  margin-bottom: 25px;
  position: relative;
}

.cost .color__grey {
  color: #737373;
  margin-bottom: 14px;
}

.cost .color__red {
  color: #EB001B;
  margin-bottom: 36px;
}

.cost p:last-of-type:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 127px;
  height: 5px;
  background: #142A7B;
}

.payment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 23px;
}

.payment .payWay {
  width: 250px;
  margin-right: 100px;
}

.payment .payWay__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #142A7B;
  margin-bottom: 23px;
}

.payment .nice-select {
  width: 100%;
  margin-bottom: 20px;
}

.payment .payment__btn {
  height: 41px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 36px;
  background: #142A7B;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  border-radius: 20px;
  border: none;
  margin-left: auto;
  margin-bottom: 20px;
}

.payment .payCards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.payment .payCards a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  height: 27px;
}

.payment .payCards a img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 27px;
}

.payment .cheque {
  background: #F9F9F9;
  border-radius: 20px;
  padding: 24px 39px;
}

.payment .cheque .cheque__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #3A3A3A;
  margin-bottom: 20px;
}

.payment .cheque p {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #3A3A3A;
}

.testimonials {
  padding: 40px 0;
}

.testimonials .sectionTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 43px;
}

.testimonials .sectionTitle:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #142A7B;
}

.testimonials .testimonial__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #F2F2F2;
  border-radius: 30px 30px 30px 0px;
  padding: 22px 64px;
  margin-bottom: 15px;
}

.testimonials .testimonial__desc {
  width: -webkit-calc(100% - 244px - 46px);
  width: calc(100% - 244px - 46px);
}

.testimonials .testimonial__desc p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #3A3A3A;
}

.testimonials .testimonial__author {
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #142A7B;
}

.testimonials .testimonial__image {
  width: 244px;
  margin-left: auto;
}

.olympics {
  padding: 40px 0;
}

.olympics .sectionTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.olympics .sectionTitle:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 84px;
  height: 5px;
  background: #142A7B;
}

.olympics .sectionSubtitle {
  max-width: 100%;
  margin-bottom: 24px;
}

.olympics .olympics__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
}

.olympics .olympics__top.right .top__image {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.olympics .olympics__top.right .top__desc {
  margin-left: unset;
  margin-right: auto;
}

.olympics .top__image {
  width: 300px;
}

.olympics .top__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.olympics .top__desc {
  width: -webkit-calc(100% - 300px - 79px);
  width: calc(100% - 300px - 79px);
  margin-left: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #3A3A3A;
  text-align: justify;
}

.olympics p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #3A3A3A;
}

.olympics .olympics__author {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #142A7B;
  margin-bottom: 10px;
}

.olympics .row {
  height: 100%;
}

.olympics .olympics-carousel {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.olympics .olympics__item {
  margin-bottom: 60px;
}

.olympics .olympics__item:last-of-type {
  margin-bottom: 0;
}

.olympics .olympics__title {
  width: 100%;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #142A7B;
  text-align: center;
  margin-bottom: 20px;
}

.olympics .olympics__desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #3A3A3A;
  margin-bottom: 30px;
  text-align: justify;
}

.olympics .olympics__img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
}

.olympics .olympics__img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 20px;
}

.olympics .alignRight {
  text-align: right;
}

.olympics .otherOlympics__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #142A7B;
  text-align: center;
  margin-bottom: 50px;
}

.olympics .otherOlympics__item {
  margin-bottom: 25px;
}

.olympics .otherOlympics__item:nth-of-type(even) {
  text-align: right;
}

.olympics .otherOlympics__author {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #3A3A3A;
}

.olympics .otherOlympics__desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #3A3A3A;
}

.contacts {
  padding: 40px 0;
}

.contacts .sectionTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-bottom: 10px;
}

.contacts .sectionTitle:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #142A7B;
}

.contacts .contacts__block {
  padding-top: 60px;
}

.contacts iframe {
  width: 100%;
  height: 450px;
  margin-bottom: 25px;
}

.contacts .contacts__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.contacts .info__item {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 40px;
}

.contacts .info__item.full {
  width: 100%;
}

.contacts .info__icon {
  height: 24px;
  margin-right: 20px;
}

.contacts .info__icon svg {
  height: 100%;
}

.contacts .info__desc {
  width: -webkit-calc(100% - 50px);
  width: calc(100% - 50px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.contacts .info__desc .half {
  width: 50%;
}

.contacts .info__desc p {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #142A7B;
}

.contacts .info__desc h4 {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #3A3A3A;
}

.contacts .info__line {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
}

.contacts .info__line:last-of-type {
  margin-bottom: 0;
}

.contacts .info__line .info__icon {
  margin-right: 7px;
}

.contacts .info__line .info__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.contacts .info__line .info__desc h4, .contacts .info__line .info__desc p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.contacts .info__line h4 {
  margin-right: 5px;
}

.contacts .appointment .sectionTitle2 {
  font-size: 24px;
  line-height: 29px;
  color: #3A3A3A;
  text-align: center;
  margin-bottom: 20px;
}

.contacts .appointment form {
  padding: 0;
}

.contactUs__form {
  margin-bottom: 51px;
}

.contactUs__form .form__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #3A3A3A;
  text-transform: capitalize;
}

.contactUs__form .form__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #3A3A3A;
  margin-bottom: 37px;
}

.contactUs__form .form-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.contactUs__form .addImgBtn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 26px;
  background: unset;
  border: none;
  cursor: pointer;
}

.contactUs__form .addImgBtn img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contactUs__form input {
  width: -webkit-calc(50% - 20px);
  width: calc(50% - 20px);
  height: 49px;
  background: #F5F5F5;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  border: none;
  padding: 0 20px;
}

.contactUs__form input::-webkit-input-placeholder {
  color: #4D4D4D;
}

.contactUs__form input::-moz-placeholder {
  color: #4D4D4D;
}

.contactUs__form input:-ms-input-placeholder {
  color: #4D4D4D;
}

.contactUs__form input::-ms-input-placeholder {
  color: #4D4D4D;
}

.contactUs__form input::placeholder {
  color: #4D4D4D;
}

.contactUs__form textarea {
  resize: none;
  width: 100%;
  height: 100px;
  background: #F5F5F5;
  border-radius: 20px;
  padding: 11px 19px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  border: none;
}

.contactUs__form textarea::-webkit-input-placeholder {
  color: #4D4D4D;
}

.contactUs__form textarea::-moz-placeholder {
  color: #4D4D4D;
}

.contactUs__form textarea:-ms-input-placeholder {
  color: #4D4D4D;
}

.contactUs__form textarea::-ms-input-placeholder {
  color: #4D4D4D;
}

.contactUs__form textarea::placeholder {
  color: #4D4D4D;
}

.contactUs__form .submitBtn {
  max-width: 350px;
}

.directions .direction__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #142A7B;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.directions p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #3A3A3A;
}

footer {
  padding: 22px 0 22px;
  background: #3A3A3A;
}

footer .footerTitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: white;
  margin-bottom: 20px;
}

footer .links__ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

footer .links__ul li {
  width: 50%;
  margin-bottom: 15px;
  padding-right: 15px;
}

footer .links__ul a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .links__ul a:before {
  content: '';
  min-width: 10px;
  max-width: 10px;
  min-height: 10px;
  max-height: 10px;
  background: white;
  border-radius: 50%;
  margin-right: 10px;
}

footer .contacts {
  width: 195px;
}

footer .footer__phone {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

footer .footer__phone b {
  color: white;
  font-weight: bold;
}

footer .footer__address {
  margin-top: 25px;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

footer .footer__address div {
  color: white;
  font-weight: 500;
}

footer .footer__address b {
  color: white;
  font-weight: bold;
}
a.headerMain__logo img {
    width: 220px;
}
.aboutUs__advantages {
    font-weight: 100;
}
.App{text-align: left}










.headerNav nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.headerNav nav a {
  display: block;
  text-decoration: none;
  outline: none;
  transition: .4s ease-in-out;
}
.headerNav .headerNav__ul {
  backface-visibility: hidden;
}
.headerNav .headerNav__ul > li {
  display: inline-block;
  position: relative;
}
.headerNav .down:after {
  content: "\f107";
  margin-left: 8px;
  font-family: FontAwesome;
}
.headerNav .headerNav__ul li a:hover { color: #E6855F; }
.headerNav .submenu {
  width: 100%;
  background: #142A7B;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .6s ease-in-out;
}
.headerNav .headerNav__ul > li:hover .submenu{
  visibility: visible;
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
}
.headerNav .submenu li a {
  font-size: 13px;
  line-height: 36px;
  padding: 0 25px;
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #F2F2F2;
  border-radius: 20px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  float: left;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  height: 41px;
  outline: none;
  padding-left: 15px;
  padding-right: 45px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}
.nice-select.open:after {
  -webkit-transform: rotate(
          -135deg
  );
  -ms-transform: rotate(-135deg);
  transform: rotate(
          -135deg
  );
}
.nice-select:after {
  border-bottom: 4px solid #000;
  border-right: 4px solid #000;
  content: '';
  display: block;
  height: 13px;
  margin-top: -8px;
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(
          45deg
  );
  -ms-transform: rotate(45deg);
  transform: rotate(
          45deg
  );
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 13px;
}
.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}
.nice-select .list {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgb(68 68 68 / 11%);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}
.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}
.nice-select .option.selected {
  font-weight: bold;
}