@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  color: black;
  list-style: none;
}

.sectionTitle {
  font-size: 36px;
  line-height: 44px;
  color: #3A3A3A;
  font-weight: 700;
}

.sectionTitle.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerMain {
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  overflow: hidden;
}

header .headerMain__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .headerMain__logo img {
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

header .headerMain__contacts {
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerMain__contacts--phone {
  color: #4D4D4D;
  font-size: 18px;
  line-height: 22px;
}

header .headerMain__contacts--socialnetworks {
  margin-left: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header .headerMain__contacts--socialnetworks a {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  background: white;
  -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

header .headerMain__contacts--socialnetworks a:first-child {
  margin-left: 0;
}

header .headerMain__contacts--socialnetworks a img {
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

header .menuIcon {
  display: none;
}

header .headerNav {
  background: #142A7B;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}

header .headerNav .menuClose {
  display: none;
}

header .headerNav .headerMain__contacts {
  display: none;
}

header .headerNav__ul {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .headerNav__ul a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

header .headerNav__ul a.selected {
  font-weight: 900;
}

.banner {
  height: -webkit-calc(100vh - 120px);
  height: calc(100vh - 120px);
  max-height: 654px;
  position: relative;
}

.banner .banner-carousel {
  width: 100%;
  height: 100%;
}

.banner .carousel-cell {
  width: 100%;
  height: 100%;
}

.banner .carousel-cell img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .container {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .bannerText {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 20px;
  padding: 36px 189px 36px 25px;
  width: 100%;
  max-width: 583px;
}

.banner .bannerTitle {
  font-size: 36px;
  line-height: 44px;
  color: white;
  max-width: 369px;
}

.banner .flickity-page-dots {
  bottom: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 8;
}

.banner .flickity-page-dots .dot {
  opacity: 1 !important;
  background: #142A7B;
  margin: 0 7px;
}

.banner .flickity-page-dots .dot.is-selected {
  width: 14px;
  height: 14px;
  background: #4D4D4D;
}

.welcome {
  padding: 40px 0;
  background: #F9F9F9;
}

.welcome .sectionTitle {
  margin-bottom: 16px;
}

.welcome .welcomeSlogan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 105px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 40px;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  background: -o-linear-gradient(358.5deg, #3C5190 -1.44%, #486BD1 95.42%);
  background: linear-gradient(91.5deg, #3C5190 -1.44%, #486BD1 95.42%);
  -webkit-box-shadow: 0px 4px 10px rgba(67, 96, 183, 0.46);
          box-shadow: 0px 4px 10px rgba(67, 96, 183, 0.46);
  border-radius: 30px 30px 30px 0px;
  margin-bottom: 18px;
}

.welcome .welcomeAddress {
  max-width: 576px;
  margin-left: auto;
  text-align: right;
  color: #3A3A3A;
}

.welcome .welcomeAddress__title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
}

.welcome .welcomeAddress__desc {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.welcome .welcomeAddress__desc img {
  width: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}

.service {
  padding: 40px 0;
}

.service .desc {
  width: 100%;
  max-width: 867px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: black;
  margin-bottom: 25px;
}

.service .desc:last-of-type {
  margin-bottom: 0;
}

.service .desc:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 219px;
  height: 5px;
  background: #142A7B;
}

.service .desc.right {
  margin-left: auto;
  text-align: right;
}

.service .desc.right:after {
  left: unset;
  right: 0;
}

.service .sectionTitle {
  margin-bottom: 65px;
}

.service .service__cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.service .service__item {
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.service .service__item--icon img {
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.service .service__item--name {
  margin-top: 10px;
  color: #142A7B;
  font-size: 24px;
  line-height: 29px;
}

.weUse {
  background: #F9F9F9;
  padding: 68px 0;
}

.weUse p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 22px;
  color: #3A3A3A;
}

.weUse p:last-child {
  margin-bottom: 0;
}

.teamAndAppointment {
  padding-top: 53px;
}

.teamAndAppointment .sectionTitle {
  margin-bottom: 41px;
}

.teamAndAppointment .team_img {
  height: 433px;
}

.teamAndAppointment .team_img img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
  border-radius: 20px;
}

.teamAndAppointment form {
  padding: 0 37px;
  margin-bottom: 20px;
}

.teamAndAppointment form .form-group {
  margin-bottom: 20px;
  position: relative;
}

.teamAndAppointment form .addImgBtn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 26px;
  background: unset;
  border: none;
  cursor: pointer;
}

.teamAndAppointment form .addImgBtn img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.teamAndAppointment form input {
  width: 100%;
  height: 49px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5F5F5;
  border-radius: 20px;
  border: none;
  padding: 0 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

.teamAndAppointment form input::-webkit-input-placeholder {
  color: #4D4D4D;
}

.teamAndAppointment form input::-moz-placeholder {
  color: #4D4D4D;
}

.teamAndAppointment form input:-ms-input-placeholder {
  color: #4D4D4D;
}

.teamAndAppointment form input::-ms-input-placeholder {
  color: #4D4D4D;
}

.teamAndAppointment form input::placeholder {
  color: #4D4D4D;
}

.teamAndAppointment form textarea {
  width: 100%;
  height: 100px;
  background: #F5F5F5;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  padding: 11px 45px 11px 19px;
  resize: none;
  border: none;
}

.teamAndAppointment form textarea::-webkit-input-placeholder {
  color: #4D4D4D;
}

.teamAndAppointment form textarea::-moz-placeholder {
  color: #4D4D4D;
}

.teamAndAppointment form textarea:-ms-input-placeholder {
  color: #4D4D4D;
}

.teamAndAppointment form textarea::-ms-input-placeholder {
  color: #4D4D4D;
}

.teamAndAppointment form textarea::placeholder {
  color: #4D4D4D;
}

.teamAndAppointment form .submitBtn {
  height: 49px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -o-linear-gradient(359.53deg, #3D5293 3.84%, #486BD1 96.83%);
  background: linear-gradient(90.47deg, #3D5293 3.84%, #486BD1 96.83%);
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: white;
  cursor: pointer;
}

.reviews .sectionTitle {
  margin-bottom: 40px;
}

.reviews .col-md-6 {
  margin-bottom: 50px;
}

.reviews .review {
  background: #FAFAFA;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 30px 30px 30px 0px;
  padding: 40px 33px;
}

.reviews .review p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #3A3A3A;
}

.reviews .review .author {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #142A7B;
  margin-top: 15px;
}

.news {
  padding: 40px 0;
}

.news .sectionTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.news .sectionTitle:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #142A7B;
}

.news .sectionSubtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  width: 100%;
  max-width: 719px;
  margin-bottom: 60px;
}

.news .news__item {
  padding: 25px 0;
  border-bottom: 1px solid #B1B1B1;
}

.news .news__item:first-of-type {
  border-top: 1px solid #B1B1B1;
}

.news .news__item--title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #3A3A3A;
  margin-bottom: 25px;
}

.news .news__item--desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 5px;
}

.news .news__item--date {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #3A3A3A;
}

.aboutUs {
  padding: 40px 0;
}

.aboutUs .sectionTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.aboutUs .sectionTitle:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #142A7B;
}

.aboutUs .sectionSubtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  width: 100%;
  max-width: 719px;
  margin-bottom: 60px;
}

.aboutUs .aboutUs__advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}

.aboutUs .aboutUs__advantages--item {
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.aboutUs .aboutUs__advantages--icon {
  height: 80px;
  position: relative;
}

.aboutUs .aboutUs__advantages--icon .order {
  position: absolute;
  left: -30px;
  top: -20px;
  width: 33px;
  height: 33px;
  border: 3px solid #486BD1;
  background: #142A7B;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.aboutUs .aboutUs__advantages--icon img {
  height: 100%;
}

.aboutUs .aboutUs__advantages--title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #142A7B;
  margin-top: 25px;
}

.aboutUs .aboutUs__columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutUs .aboutUs__columns--item {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #B1B1B1;
  margin-bottom: 25px;
}

.aboutUs .aboutUs__columns--item:nth-child(even) {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.aboutUs .aboutUs__columns--item:nth-child(even) .aboutUs__columns--text {
  width: 60%;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  margin-right: 0;
  margin-left: 20px;
  text-align: right;
}

.aboutUs .aboutUs__columns--item:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.aboutUs .aboutUs__columns--text {
  width: 50%;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #3A3A3A;
  margin-right: 20px;
}

.aboutUs .aboutUs__columns--order {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #142A7B;
  text-shadow: -6px -3px 0 rgba(20, 42, 123, 0.2);
}

.experience {
  background: #F9F9F9;
  padding: 45px 0;
}

.experience .experience__item {
  margin-bottom: 30px;
}

.experience .experience__item:last-child {
  margin-bottom: 0;
}

.experience .experience__item--title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #142A7B;
  margin-bottom: 30px;
}

.experience .experience__item--desc {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #3A3A3A;
}

footer {
  padding: 22px 0 22px;
  background: #3A3A3A;
}

footer .footerTitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: white;
  margin-bottom: 20px;
}

footer .links__ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

footer .links__ul li {
  width: 50%;
  margin-bottom: 15px;
  padding-right: 15px;
}

footer .links__ul a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .links__ul a:before {
  content: '';
  min-width: 10px;
  max-width: 10px;
  min-height: 10px;
  max-height: 10px;
  background: white;
  border-radius: 50%;
  margin-right: 10px;
}

footer .contacts {
  width: 195px;
}

footer .footer__phone {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

footer .footer__phone b {
  color: white;
  font-weight: bold;
}

footer .footer__address {
  margin-top: 25px;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

footer .footer__address div {
  color: white;
  font-weight: 500;
}

footer .footer__address b {
  color: white;
  font-weight: bold;
}
