@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .sectionTitle {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
  header {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    background: white;
    border-bottom: 1px solid #142A7B;
  }
  header .container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 24px;
  }
  header .headerMain__contacts {
    display: none;
  }
  header .menuIcon {
    width: 25px;
    height: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: auto;
    cursor: pointer;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  header .menuIcon span {
    width: 100%;
    height: 2px;
    background: #142A7B;
    border-radius: 15px;
  }
  header .menuIcon.active {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
  header .headerNav {
    position: fixed;
    left: -100vw;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 19;
    padding-top: 20px;
    -webkit-transition: left .3s ease-in-out;
    -o-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
  }
  header .headerNav .container {
    max-height: 100%;
    overflow-y: auto;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  header .headerNav.active {
    left: 0;
  }
  header .headerNav .menuClose {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: auto;
    margin-bottom: 15px;
    width: 15px;
    height: 18px;
    position: relative;
    cursor: pointer;
    margin-top: 13px;
  }
  header .headerNav .menuClose span {
    width: 2px;
    height: 100%;
    background: white;
    border-radius: 15px;
  }
  header .headerNav .headerMain__contacts {
    display: block;
    margin: 0;
    margin-top: 45px;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  header .headerNav .headerMain__contacts--phone {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    color: white;
  }
  header .headerNav .headerMain__contacts--socialnetworks {
    margin: 0;
  }
  header .headerNav .headerMain__contacts--socialnetworks a {
    margin-left: 0;
    margin-right: 30px;
  }
  header .headerNav__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: unset;
    -webkit-align-items: unset;
    -ms-flex-align: unset;
    align-items: unset;
  }
  header .headerNav__ul li {
    margin: 10px 0;
  }
  .banner .banner-carousel {
    position: relative;
  }
  .banner .banner-carousel:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .banner .bannerText {
    padding: 25px 20px;
  }
  .banner .bannerTitle {
    font-size: 24px;
    line-height: 29px;
  }
  .welcome {
    padding: 30px 0 88px;
  }
  .welcome .sectionTitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .welcome .welcomeSlogan {
    height: unset;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 66px;
  }
  .welcome .welcomeAddress__title {
    font-size: 18px;
    line-height: 22px;
  }
  .welcome .welcomeAddress__desc {
    font-size: 14px;
    line-height: 17px;
  }
  .welcome .welcomeAddress__desc img {
    width: 18px;
  }
  .service {
    padding: 30px 0;
  }
  .service .desc {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 55px;
  }
  .service .desc:after {
    width: 50%;
  }
  .service .sectionTitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 23px;
  }
  .service .service__cont {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 71px;
  }
  .service .service__item {
    width: 33.33333%;
    margin-bottom: 25px;
  }
  .service .service__item:last-of-type {
    margin-bottom: 0;
  }
  .service .service__item--icon img {
    height: 60px;
  }
  .service .service__item--name {
    font-size: 18px;
    line-height: 22px;
  }
  .weUse {
    padding: 69px 0 80px;
  }
  .weUse p {
    font-size: 16px;
    text-align: center;
  }
  .teamAndAppointment {
    padding: 30px 0;
  }
  .teamAndAppointment .sectionTitle {
    margin-bottom: 15px;
    text-align: left;
  }
  .teamAndAppointment .team {
    margin-bottom: 30px;
  }
  .teamAndAppointment .team_img {
    height: unset;
    width: 100%;
  }
  .teamAndAppointment .team_img img {
    width: 100%;
    height: unset;
  }
  .teamAndAppointment form {
    padding: 0;
    margin-bottom: 30px;
  }
  .reviews .sectionTitle {
    margin-bottom: 20px;
    text-align: left;
  }
  .reviews .review {
    padding: 25px 20px;
  }
  .reviews .flickity-page-dots {
    bottom: 20px;
  }
  .aboutUs {
    padding: 15px 0;
  }
  .aboutUs .sectionSubtitle {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 63px;
  }
  .aboutUs .aboutUs__advantages {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .aboutUs .aboutUs__advantages--item {
    width: 100%;
    margin-bottom: 48px;
  }
  .aboutUs .aboutUs__advantages--title {
    font-size: 14px;
    line-height: 17px;
    max-width: 215px;
  }
  .aboutUs .aboutUs__columns--item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .aboutUs .aboutUs__columns--order {
    margin-bottom: 10px;
  }
  .aboutUs .aboutUs__columns--text {
    width: 100% !important;
    text-align: center !important;
    -webkit-box-ordinal-group: 3 !important;
    -webkit-order: 2 !important;
    -ms-flex-order: 2 !important;
    order: 2 !important;
    margin: 0 !important;
  }
  .experience {
    padding: 25px 0;
  }
  .experience .container {
    padding: 0 53px;
  }
  .experience .experience__item--title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .experience .experience__item--desc {
    font-size: 14px;
    line-height: 17px;
  }
  .news {
    padding: 15px 0;
  }
  .news .sectionSubtitle {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 50px;
  }
  .news .news__item {
    padding: 15px 0;
  }
  .news .news__item--title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 14px;
  }
  .news .news__item--desc {
    font-size: 14px;
    line-height: 17px;
  }
  .news .news__item--date {
    font-size: 14px;
    line-height: 17px;
  }
  .addington {
    padding: 15px 0;
  }
  .addington .quote {
    width: 16px;
    height: unset;
  }
  .addington .quote img {
    width: 16px;
  }
  .addington .sectionSubtitle {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
  }
  .addington .blockquote__cont {
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
  }
  .addington .blockquote__title {
    font-size: 12px;
    line-height: 15px;
  }
  .addington p {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 20px;
  }
  .addington .blockquote__img {
    margin: 30px 0;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .addington .blockquote__img img {
    width: 100%;
    margin-bottom: 30px;
  }
  .addington .blockquote__img img:last-of-type {
    margin-bottom: 0;
  }
  .addington .blockquote__author--name, .addington .blockquote__author--desc {
    padding-left: 20px;
    font-size: 12px;
    line-height: 15px;
  }
  .meetTheTeam {
    padding: 15px 0;
  }
  .meetTheTeam .sectionSubtitle {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
  }
  .meetTheTeam .aboutTeam {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .meetTheTeam .aboutTeam__image {
    width: 100%;
    margin-bottom: 42px;
  }
  .meetTheTeam .aboutTeam__desc {
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 30px;
  }
  .meetTheTeam .aboutTeam__desc:after {
    width: 110px;
  }
  .aboutPerson .person {
    padding: 20px 15px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  .aboutPerson .person__img {
    margin: 0 auto 10px !important;
    min-width: unset;
    max-width: -webkit-calc(100% - 90px);
    max-width: calc(100% - 90px);
  }
  .aboutPerson .person__img img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -o-object-position: top;
    object-position: top;
  }
  .aboutPerson .person__img.bigOne {
    min-width: unset;
    max-width: -webkit-calc(100% - 50px);
    max-width: calc(100% - 50px);
  }
  .aboutPerson .person__img.bigOne img {
    height: 177px;
  }
  .aboutPerson .person__desc {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .aboutPerson .person__name {
    margin: 0 auto 25px;
    padding-top: 10px;
    font-size: 14px;
    line-height: 17px;
  }
  .aboutPerson .person__excerpt p {
    font-size: 12px;
    line-height: 15px;
    text-align: left !important;
  }
  .pilates {
    padding: 15px 0;
  }
  .pilates .sectionSubtitle {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 28px;
  }
  .pilates p {
    font-size: 12px;
    line-height: 15px;
  }
  .pilates p:last-of-type {
    margin-bottom: 44px;
  }
  .whatIsPilates .sectionDesc {
    font-size: 14px;
    line-height: 17px;
  }
  .whatIsPilates .sectionSubtitle {
    font-size: 18px;
    line-height: 26px;
  }
  .pilatesCanHelp .sectionTitle {
    margin-bottom: 15px;
  }
  .pilatesCanHelp .pilatesCanHelp__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 3px;
  }
  .pilatesCanHelp .pilatesCanHelp__items p {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
  }
  .pilatesCanHelp .much span {
    font-size: 14px;
    line-height: 17px;
  }
  .pilatesCanHelp .pilatesCanHelp__images {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }
  .pilatesCanHelp .pilatesCanHelp__images .carousel-cell {
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .pilatesCanHelp .pilatesCanHelp__images .carousel-cell img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .pilatesCanHelp .pilatesCanHelp__images .flickity-page-dots {
    bottom: -25px;
  }
  .aboutKay {
    padding: 53px 30px;
  }
  .aboutKay .sectionTitle {
    font-size: 14px;
    line-height: 17px;
  }
  .aboutKay p {
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 15px;
  }
  .pricesAndAvailibility .item {
    width: 100%;
    margin: 0 0 20px;
  }
  .pricesAndAvailibility .prices__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }
  .pricesAndAvailibility .prices__title img {
    margin-left: 20px;
  }
  .pricesAndAvailibility .prices__item {
    height: unset;
    padding: 41px 20px;
  }
  .pricesAndAvailibility .prices__item--title {
    margin-bottom: 20px;
  }
  .pricesAndAvailibility .prices__item--title, .pricesAndAvailibility p {
    font-size: 14px;
    line-height: 17px;
  }
  .gait {
    padding: 15px 0;
  }
  .gait .sectionTitle {
    text-align: left;
  }
  .gait .sectionSubtitle {
    font-size: 14px;
    line-height: 17px;
  }
  .gait .bg__grey {
    padding: 29px 23px;
    font-weight: bold;
  }
  .gait .sectionExTitle {
    font-size: 18px;
    line-height: 22px;
  }
  .cost {
    padding: 15px 0;
  }
  .cost .sectionSubtitle {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
  }
  .payment {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .payment .payWay {
    width: 100%;
    max-width: 250px;
    margin: 0 auto 70px;
  }
  .payment .cheque {
    max-width: 284px;
    margin: 0 auto;
  }
  .payment .cheque h3, .payment .cheque p {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
  }
  .payment .cheque h3:after, .payment .cheque p:after {
    display: none !important;
  }
  .cost .paragraph {
    max-width: 284px;
    margin: 0 auto 20px;
    font-size: 12px;
    line-height: 15px;
  }
  .testimonials {
    padding: 15px 0;
  }
  .testimonials .sectionTitle {
    margin-bottom: 40px;
  }
  .testimonials .testimonial__item {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 24px;
    margin-bottom: 24px;
  }
  .testimonials .testimonial__desc {
    width: 100%;
    margin-bottom: 24px;
  }
  .testimonials .testimonial__desc p {
    font-size: 14px;
    line-height: 17px;
  }
  .testimonials .testimonial__author {
    font-size: 14px;
    line-height: 17px;
  }
  .testimonials .testimonial__image {
    margin: 0 auto;
    max-width: 100%;
  }
  .olympics {
    padding: 15px 0;
  }
  .olympics .sectionSubtitle {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
  }
  .olympics .olympics__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
  }
  .olympics .top__image {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 25px;
  }
  .olympics .top__desc {
    width: 100%;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
  }
  .olympics .olympics__desc {
    font-size: 14px;
    line-height: 17px;
  }
  .olympics .olympics-carousel {
    display: block;
    margin-bottom: 50px;
  }
  .olympics .olympics-carousel .flickity-page-dots {
    bottom: -25px;
  }
  .olympics .mobile_none {
    display: none;
  }
  .olympics .olympics__item {
    margin-bottom: 25px;
  }
  .olympics .olympics__item img {
    width: 100%;
  }
  .olympics .olympics__item .col-lg-8 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .olympics .olympics__author {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .olympics p {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
  }
  .olympics .olympics__top {
    margin-bottom: 0;
  }
  .olympics .otherOlympics__title {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
  }
  .olympics .otherOlympics__author, .olympics .otherOlympics__desc {
    font-size: 14px;
    line-height: 17px;
  }
  .contacts {
    padding: 15px 0;
  }
  .contacts .sectionTitle {
    margin-bottom: 28px;
  }
  .contacts .contacts__block {
    padding: 0;
  }
  .contacts .contacts__info {
    margin-bottom: 40px;
  }
  .contacts iframe {
    height: 326px;
    width: -webkit-calc(100% + 30px);
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-bottom: 20px;
  }
  .contacts .info__item {
    width: 100%;
    margin-bottom: 20px;
  }
  .contacts .info__icon {
    margin-right: 11px;
  }
  .contacts .info__desc h4, .contacts .info__desc p {
    font-size: 12px;
    line-height: 15px;
  }
  .contacts .info__desc .half {
    width: 100%;
  }
  .contacts .appointment .sectionTitle2 {
    text-align: right;
  }
  .contactUs__form .form__title, .contactUs__form .form__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
  .contactUs__form .form__subtitle {
    margin-bottom: 15px;
  }
  .contactUs__form .form-group {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .contactUs__form input {
    width: 100%;
    margin-bottom: 20px;
  }
  .contactUs__form .submitBtn {
    margin-top: 20px;
  }
  .directions .direction__title {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
  }
  .directions p {
    font-size: 14px;
    line-height: 17px;
  }
  footer .footerTitle {
    width: 100%;
  }
  footer .contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
  }
  footer .footer_phones, footer .footer__address {
    width: 50%;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
  footer .footer_phones {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  footer .links {
    margin-bottom: 22px;
  }
  footer .links__ul li {
    padding: 0;
  }
  footer .links__ul a {
    font-size: 14px;
    line-height: 17px;
  }
}